root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

[*.{rs,sh}]
indent_size = 4

[.git-hooks/*]
indent_size = 4

[*.{nix,yml,yaml,json}]
indent_size = 2

[Makefile]
indent_style = tab
